client/tsconfig.json
client/tsconfig.node.json
client/package-lock.json
client/package.json
client/README.md
client/vite.config.ts
client/src/vite-env.d.ts
client/.eslintignore
client/.eslintrc.cjs
client/.prettierrc
client/src/components/HeaderFunctional.tsx
client/src/components/MainMtgFunctional.tsx
